<!DOCTYPE html>	
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  
  <title>CarRental Service (NTUA)</title>
  
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/AdminLTE.min.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/_all-skins.min.css')}}">

</head>
<body class="hold-transition skin-blue layout-top-nav">
  <div class="wrapper">
    <header class="main-header">
      <nav class="navbar navbar-static-top">
        <div class="container">
          <div class="navbar-header">
            <a href="/" class="navbar-brand"><strong>RENT</strong>oulis</a>
          </div>
        </div>
      </nav>
    </header>

    <div class="content-wrapper">
      <div class="container">  
        <section class="content">
          <div class="box box-info">
            <div class="box-header with-border">
              	<center>
	              	<h3 class="box-title">Update Customer</h3>
	            </center>
            </div>

            <form class="form-horizontal" method="POST" action="/customer/updatecustomer">
            {% for row in data %}
              <div class="box-body">
                <div class="form-group">
                  <label class="col-sm-2 control-label">Customer ID</label>

                  <div class="col-sm-10">
                    <input name="customerid" value="{{ row[0] }}" type="text" class="form-control" placeholder="Customer ID" autocomplete="off" readonly>
                  </div>
                </div>
                
                <div class="form-group">
                  <label class="col-sm-2 control-label">IRS Number</label>

                  <div class="col-sm-10">
                    <input name="irsnumber" value="{{ row[1] }}" type="text" class="form-control" placeholder="IRS Number" autocomplete="off" required>
                  </div>
                </div>
                
                <div class="form-group">
                  <label class="col-sm-2 control-label">First Name</label>

                  <div class="col-sm-10">
                    <input name="firstname" value="{{ row[2] }}" type="text" class="form-control" placeholder="First Name" autocomplete="off" required>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-2 control-label">Last Name</label>

                  <div class="col-sm-10">
                    <input name="lastname" value="{{ row[3] }}" type="text" class="form-control" placeholder="Last Name" autocomplete="off" required>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-2 control-label">SSN</label>

                  <div class="col-sm-10">
                    <input name="socialsecurityno" value="{{ row[4] }}" type="text" class="form-control" placeholder="SSN" autocomplete="off" required>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-2 control-label">Driver License</label>

                  <div class="col-sm-10">
                    <input name="driverlicense" value="{{ row[5] }}" type="text" class="form-control" placeholder="Driver License" autocomplete="off" required>
                  </div>
                </div>     

                <div class="form-group">
                  <label class="col-sm-2 control-label">First Registration</label>

                  <div class="col-sm-10">
                    <input name="firstregistration" value="{{ row[6] }}" type="text" class="form-control" placeholder="First Registration" autocomplete="off" required>
                  </div>
                </div> 

                <div class="form-group">
                  <label class="col-sm-2 control-label">City</label>

                  <div class="col-sm-10">
                    <input name="city" value="{{ row[7] }}" type="text" class="form-control" placeholder="City" autocomplete="off" required>
                  </div>
                </div>            

                <div class="form-group">
                  <label class="col-sm-2 control-label">Street</label>

                  <div class="col-sm-10">
                    <input name="street" value="{{ row[8] }}" type="text" class="form-control" placeholder="Street" autocomplete="off" required>
                  </div>
                </div>  
              </div>

                <div class="form-group">
                  <label class="col-sm-2 control-label">Street No</label>

                  <div class="col-sm-10">
                    <input name="streetno" value="{{ row[9] }}" type="text" class="form-control" placeholder="Street No" autocomplete="off" required>
                  </div>
                </div>  

                <div class="form-group">
                  <label class="col-sm-2 control-label">Postal Code</label>

                  <div class="col-sm-10">
                    <input name="postalcode" value="{{ row[10] }}" type="text" class="form-control" placeholder="Postal Code" autocomplete="off" required>
                  </div>
                </div>  
              <div class="box-footer">
                <a href="/customer"><button type="button" class="btn btn-default">Cancel</button></a>
                <input name="updatecustomer" type="submit" class="btn btn-info pull-right" value="Update">
              </div>
             {% endfor %}
            </form>
          </div>
        </section>
      </div>
    </div>

    <footer class="main-footer">
      <div class="container">
        <div class="pull-right hidden-xs">
          <b>NTUA</b> BDMS
        </div>
      </div>
    </footer>
  </div>
  
  <script src="{{ url_for('static', filename='js/jquery-2.2.3.min.js')}}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
  <script src="{{ url_for('static', filename='js/app.min.js')}}"></script>

</body>
</html>
