<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  
  <title>CarRental Service (NTUA)</title>
  
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/AdminLTE.min.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/_all-skins.min.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/dataTables.bootstrap.css')}}">

  <style type="text/css">
    .buttons {
      text-align:center;
    }
    .buttons:after {
      content:'';
      display:inline-block;
      width:100%;/* generates an extra transparent line */
    }
    /* makeup*/
    .buttons {
      min-width:45em;
      padding: 1.2em 1em 0;
      margin:1em;
      border-radius:0.25em;
    }

    img.center {
    display: block;
    margin: 0 auto;
    } 

  </style>

</head>

<body class="hold-transition skin-blue layout-top-nav">
  <div class="wrapper">

    <header class="main-header">
      <nav class="navbar navbar-static-top">
        <div class="container">
          <div class="navbar-header" >
            <a href="/" class="navbar-brand"><i><strong>RENT</strong>oulis</i></a>
          </div>
        </div>
      </nav>
    </header>

    <div class="content-wrapper"><br />
      <div class="container">  
        <div class="buttons">
          <a href="/rent/">
              <option type="button" class="btn btn-primary btn-flat">
                <span class="glyphicon"></span> Rent a Car
              </option>
          </a>

          <a href="/reserve/">
              <option type="button" class="btn btn-primary btn-flat">
                <span class="glyphicon"></span> Reserve a Car
              </option>
            </a>

            <a href="/customer/">
                <option type="button" class="btn btn-primary btn-flat">
                  <span class="glyphicon"></span> View Customers
                </option>
            </a>

            <a href="/sql">
              <option type="button" class="btn btn-primary btn-flat">
                <span class="glyphicon"></span> Select Query
              </option>
            </a>

            <br />  <br />

            <a href="/sql">
              <option type="button" class="btn btn-primary btn-flat">
                <span class="glyphicon"></span> Select Query
              </option>
            </a>

            <a href="/sql">
              <option type="button" class="btn btn-primary btn-flat">
                <span class="glyphicon"></span> Select Query
              </option>
            </a>

            <a href="/sql">
              <option type="button" class="btn btn-primary btn-flat">
                <span class="glyphicon"></span> Select Query
              </option>
            </a>

            <a href="/sql">
              <option type="button" class="btn btn-primary btn-flat">
                <span class="glyphicon"></span> Select Query
              </option>
            </a>
        </div>
      </div>
    </div>


    <footer class="main-footer">
      <div class="container">
        <div class="pull-right hidden-xs">
          <b>NTUA</b> BDMS
        </div>
      </div>
    </footer>
  </div>
  

  <script src="{{ url_for('static', filename='js/jquery-2.2.3.min.js')}}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
  <script src="{{ url_for('static', filename='js/app.min.js')}}"></script>
  <script src="{{ url_for('static', filename='js/jquery.dataTables.min.js')}}"></script>
  <script src="{{ url_for('static', filename='js/dataTables.bootstrap.min.js')}}"></script>

</body>
</html>
